/************************* TAG SELECTORS *************************/

body {
    text-align: center;
    font: 100;
    background-color: #ffffff;
    margin: 0px;
}

h1 {
    margin: 20px 20px 0px 20px;
    padding: 20px;
    color: #D9BB96;
}


/************************* CLASS SELECTORS ***********************/

.profile {
    display: inline-block;
    position: absolute;
    margin: 0 auto 0 auto;
    left: 10px;
    bottom: 0px;
}

.profilepic {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: #ffff;
}

.topbar {
    background-color: #536173;
    padding: 25px;
    position: relative;
    top: -10px;
    left: 0px;
    max-width: 100vw;
}

.navbar {
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 5px;
    padding: 10px;
}

.nav-text {
    text-decoration: none;
    color: #F2DBAE;
    margin: 1em;
}

.top-cloud {
    height: auto;
    max-width: 8em;
    position: absolute;
    top: 10em;
}

.left-cloud {
    height: auto;
    max-width: 12em;
    position: absolute;
    left: 2em;
    top: 2em;
}

.right-cloud {
    height: auto;
    max-width: 10em;
    position: absolute;
    right: 2em;
    top: 2em;
}

.forest {
    width: 100%;
    max-height: 20%;
}

.intro-blurb {
    z-index: 0;
}

.top {
    background-color: #7B92A6;
    position: relative;
    top: -30px;
    max-width: 100vw;
}

.middle {
    background-color: #888C81;
    width: 200px;
    height: 200px;
}

.bottom {
    background-color: #3D403A;
    width: 200px;
    height: 200px;
}

.heading {}